{{video-search-field value=search filter=(action 'refreshModel')}}
<br>
<div class="row justify-content-md-center">
  {{#each videos as |video|}}
    {{video-player video=video}}
  {{else}}
    <p class="alert alert-success mt-4" role="alert">
      Please type your search to see videos filtered by it
    </p>
  {{/each}}
</div>

{{outlet}}